#sidebar {
  background-color: #1d3860;
  color: white;
}
#contenido {
  background-color: #f3f3f3;
}
.nav-link {
  color: white;
}
.sidebar-hidden {
  transform: translateX(-100%);
}
.icon {
  font-size: 30px;
}

/* Agrega esta clase para mostrar el sidebar en pantallas pequeñas cuando se hace clic en el botón */
.sidebar-show {
  transform: translateX(0);
}

/* Ajusta el ancho del contenido principal cuando el sidebar esté oculto */
.content {
  padding: 2rem;
  transition: padding 0.3s ease;
}

/* Ajusta el ancho del contenido principal cuando el sidebar esté visible */
.content.sidebar-hidden {
  padding: 1rem;
}

/* Ajusta el ancho de las cartas cuando el sidebar esté oculto */
.card {
  width: 100%;
}

/* Ajusta el ancho de las cartas cuando el sidebar esté visible */
.card.sidebar-show {
  width: calc(100% - 250px); /* Ajusta el ancho según el ancho del sidebar */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    transform: translateX(-100%);
  }
  .sidebar-show {
    transform: translateX(0);
  }
  .content {
    padding: 1rem;
  }
  .card {
    width: 100%;
  }
}
